<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/EduardoPadilha/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="EduardoPadilha" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>